<div class="modal-header">
  <h4 class="modal-title">Editar {{typeInput}}</h4>
  <button type="button" class="close" aria-hidden="true" (click)="close()">×</button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <label class="d-inline-flex align-items-center">
        Nome
      </label>
      <div class="input-group">
        <input type="text" class="form-control" aria-describedby="basic-addon2" [(ngModel)]="name" maxlength="25">  
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-2">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="status" [(ngModel)]="status">
      <label class="custom-control-label" for="status">Status</label>
    </div>
  </div>
  <div class="col-md-12 mt-2">
    <ngb-alert type="success" class="alert alert-primary text-success" *ngIf="showSuccessMessage">
      {{successMessage}}
    </ngb-alert>
    <ngb-alert type="warning" class="alert alert-warning text-warning" *ngIf="showErrorMessage">
      {{errorMessage}}
    </ngb-alert>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light waves-effect" data-dismiss="modal" (click)="close()">Fechar</button>
  <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal" (click)="editItem()">Salvar</button>
</div>
